<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <span>An error occured</span>
    <% if (error) { %>
    <br>
    <br>
    <span style="color: red"><%= error %></span>
    <% } %>
</body>

</html>