<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h1>Students</h1>
    <h3>All students</h3>
    <table>
        <tr>
            <th>Naam</th>
            <th>Geboortedatum</th>
            <th>Studierichting</th>
        </tr>
        <% students.forEach(function(student) { %>
        <tr>
            <td><%= student.naam %></td>
            <td><%= student.geboortedatum.toLocaleDateString() %></td>
            <td><%= student.studierichting %></td>
        </tr>
        <% }); %>
    </table>
    <h3>Add new student</h3>
    <form action="/add" method="POST">
        <input type="text" placeholder="username" name="naam">
        <input type="date" placeholder="geboortedatum" name="geboortedatum">
        <input type="text" placeholder="studierichting" name="studierichting">

        <button type="submit">Add</button>
    </form>
</body>

</html>